<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <div class="download-form">
      <h1 id="form-title">Youtube Downloader</h1>
      <form action="/download" method="GET">
        <input id="download-url-input" name="URL" type="text" placeholder="Paste video URL here...">
        <button id="submit-btn" type="sumbit">Download</button>
      </form>
    </div>
  </div>
  <script> </script>
</body>
</html>