@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');
* {
  margin: 0;
  background-color: rgb(30, 30, 30);
}

body {
  font-family: 'Roboto Mono';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.download-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 300px;
  margin-top: 5em;
}

#form-title {
  font-size: 2.5em;
  margin-bottom: 1.2em;
  color: #fff;
}

.download-form form {
  display: flex;
  flex-direction: row;
}

#download-url-input {
  transition: 60ms ease-in;
  font-family: 'Roboto Mono';
  font-size: 1.1em;
  padding: .8em 25px;
  width: 500px;
  background-color: rgb(247, 247, 247);
  border: none;
  outline: none;
  margin-right: .5em;
}

#download-url-input:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#download-url-input:focus {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#submit-btn {
  font-family: 'Roboto Mono';
  font-weight: 700;
  font-size: 1.2em;
  color: white;
  background-color: black;
  width: 30%;
  border: none;
  transition: 80ms ease-in;
}

#submit-btn:hover {
  cursor: pointer;
  color: rgb(156, 212, 207);
}

.error404-body {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error404-body h1 {
  margin-bottom: 1em;
  color: white;
}

.error404-body a {
  margin-bottom: 1em;
  color: white;
}
